body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.title {
  background-image: url("../public/unknown.png");
  width: 100%;
  height: 50vw;
}

.title h1 {
  text-align:center;
  /*display: inline;*/
  /*vertical-align: middle;*/
  font-size: 70px;
  color: #70ff60;
}

main {
  margin-top: 0;
}
